@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(134deg, #c824ec 0%, #df308d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-bg {
  background: linear-gradient(134deg, #c824ec 0%, #df308d 100%);
}
